
GeneratoreFeature/JavaT_Tirocinio/DATASET.csv
GeneratoreFeature/JavaT_Tirocinio/DATASET_OBS.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/combinations_mokup.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/combinations_to_test.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/instances_predictions.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/roles_predictions.csv
GeneratoreFeature/JavaT_Tirocinio/predictions/combinations_mokup.csv
GeneratoreFeature/JavaT_Tirocinio/softwares/TestSoftware.csv
GeneratoreFeature/JavaT_Tirocinio/DATASET_COM.csv
C:\Users\alex8\Documents\GitHub\Tirocinio_AS_2021\Path/
C:\Users\alex8\Documents\GitHub\Tirocinio_AS_2021\Path2\