
GeneratoreFeature/JavaT_Tirocinio/DATASET.csv
GeneratoreFeature/JavaT_Tirocinio/DATASET_OBS.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/combinations_mokup.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/combinations_to_test.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/instances_predictions.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/roles_predictions.csv
GeneratoreFeature/JavaT_Tirocinio/predictions/combinations_mokup.csv
GeneratoreFeature/JavaT_Tirocinio/softwares/TestSoftware.csv
GeneratoreFeature/JavaT_Tirocinio/DATASET_COM.csv
C:\Users\alex8\Documents\GitHub\Tirocinio_AS_2021\Path/
C:\Users\alex8\Documents\GitHub\Tirocinio_AS_2021\Path2\
Path/
1QuickUML/
2Lexi/
3JRefactory/
4Netbeans/
5JUnit/
6JHotDraw/
8MapperXML/
10Nutch/
11PMD/
GeneratoreFeature/JavaT_Tirocinio/predictions/TestSoftware.csv
GeneratoreFeature/JavaT_Tirocinio/Combination_to_test_MIO.csv
GeneratoreFeature/JavaT_Tirocinio/datasets/datasetprova.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/datasets/com_roles_dataset.csv
GeneratoreFeature/JavaT_Tirocinio/datasets/datasetprova.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/datasets/datasetprova.csv
GeneratoreFeature/JavaT_Tirocinio/Combination_mockup_Command.csv
GeneratoreFeature/JavaT_Tirocinio/datasets/datasetprova.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/datasets/datasetprova.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/combinations_to_test_Command.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/roles_predictions_command.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/combinations_to_test_Command.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/predictions/roles_predictions_command.csv
GeneratoreFeature/JavaT_Tirocinio/datasets/com_roles_dataset.csv
GeneratoreFeature/JavaT_Tirocinio/OBSClassifier/tester/datasets/com_roles_dataset.csv
*.csv
*.csv
